@model Eko.Models.ItemViewModels.SellItemViewModel

<h2>Sell something!</h2>

<form asp-controller="Sell" asp-action="Index" enctype="multipart/form-data" method="post">

    <div class="form-group">
        <label asp-for="Title"></label>
        <input class="form-control" asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price"></label>
        <input class="form-control" asp-for="Price" />
        <span asp-validation-for="Price"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description"></textarea>
        <!--input class="form-control" asp-for="Description" /-->
        <span asp-validation-for="Description"></span>
    </div>

    <div class="form-group">
        <label asp-for="Condition"></label>
        <select asp-for="Condition" asp-items="@Model.Conditions"></select>
        <span asp-validation-for="Condition"></span>
    </div>

    <div class="form-group">
        <label asp-for="CategoryID"></label>
        <select asp-for="CategoryID" asp-items="@Model.Categories"></select>
        <span asp-validation-for="CategoryID"></span>
    </div>

    <div class="form-group">
        <label asp-for="Brand"></label>
        <input class="form-control" asp-for="Brand" />
        <span asp-validation-for="Brand"></span>
    </div>

    <div class="form-group">
        <label asp-for="Model"></label>
        <input class="form-control" asp-for="Model" />
        <span asp-validation-for="Model"></span>
    </div>

    <div class="form-group">
        <label asp-for="Year"></label>
        <input class="form-control" asp-for="Year" />
        <span asp-validation-for="Year"></span>
    </div>

    <div class="form-group">
        <label asp-for="Files"></label>
        <input class="form-control" asp-for="Files" />
        <span asp-validation-for="Files"></span>
    </div>

    <input type="submit" value="Post Listing" />

</form>