@model Eko.Models.CartViewModels.CartViewModel

<h2>Cart</h2>

<table class="table">

    <tr>
        <th>Listing Title</th>
        <th>Price</th>
        <th>Remove from Cart</th>
    </tr>
    
    @foreach (CartItem cartItem in Model.Cart)
    {
        <tr>
            <td><a asp-controller="Items" asp-action="ViewItem" asp-route-id="@cartItem.Item.ID">@cartItem.Item.Title</a></td>
            <td>$@cartItem.Item.Price</td>
            <td>
                <form asp-controller="Cart" asp-action="RemoveFromCart" method="post">
                    <input type="hidden" name="id" value="@cartItem.Item.ID" />
                    <input type="submit" value="Remove" />
                </form>
            </td>
        </tr>
    }

    <tr>
        <td><strong>SUBTOTAL:</strong></td>
        <td>$@Model.Subtotal</td>
        <td></td>
    </tr>

</table>

<form asp-controller="Cart" asp-action="Checkout" method="post">
    @foreach (CartItem cartItem in Model.Cart)
    {
        <input type="hidden" name="cartItemIds" value="@cartItem.Item.ID" />
    }
    <input type="submit" value="Checkout"/>
</form>